{{#if show}}
    <header>
        <nav>
            <div class="row">
                <ul class="main-nav">
                    {{#if home}}<li><ion-icon name="home"></ion-icon><a href="/">Home</a></li>{{/if}}​
                    {{#if petition}}<li><a href="/petition">Petition</a></li>{{/if}}
                    {{#if signerslist}}<li><a href="/signers-list">Signers</a></li>{{/if}}
                    {{#if edit}}<li><ion-icon name="person"></ion-icon><a href="/profile/edit">Edit profile</a></li>{{/if}}
                    {{#if login}}<li><ion-icon class="icons" name="log-in"></ion-icon><a href="/login">Login</a></li>{{/if}}​
                    {{#if register}}<li><ion-icon name="create"></ion-icon><a href="/register">Register</a></li>{{/if}}
                    {{#if logout}}<li><ion-icon name="log-out"></ion-icon><a href="/logout">Logout</a></li>{{/if}}​

                </ul>
            </div>
        </nav>
    </header>
{{/if}}
