<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>PETITION</title>
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Antic+Slab&display=swap" rel="stylesheet">
    </head>

    <body>
            {{{ body }}}

        <!-- <footer>
            <p>&copy; Katja Štefan, 2019</p>
            <iframe src="https://www.youtube.com/embed/JQc5gDXQGIs?autoplay=1&loop=1" width="1" height="1" frameborder="0"></iframe>
        </footer> -->
    </body>
</html>
