<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>PETITION</title>
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Antic+Slab&display=swap" rel="stylesheet">

        <header>

        </header>
    </head>

    <body>

        <main>
            {{{ body }}}
        </main>

        <footer>
            <p>&copy; Spiced Academy, 2019</p>
        </footer>
    </body>
</html>
