{{>navbar show=true register=true login=true}}

<main>
    <div class="petition-container">
        <h1>TIMES LIKE THESE CALL FOR A BIG LEBOWSKI!</h1>
        <div class="petition-text">
            <p>Do you wanna make the world a better place?<br><br>
                All you need to do is create a profile on this page and sign the petition, which you can do single handedly while drinking
                a white russian  <ion-icon name="wine"></ion-icon> . . . <br><br>
                Help us collect enough signatures and bring the Dude, his Dudeness, Duder or el Duderino back to our lives and to the big screen!<br>
                Also, let's resurrect Donny!!!
            </p>
            <h3>In Dude we Trust!</h3>
        </div>

        <div class="logo-container">
            <img src="/thedude.jpg" alt="The Dude logo">
        </div>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">

    </div>
</main>
