{{>navbar show=true home=true login=true register=true}}

<main>
    <div class="logout-message">
        <div class="logo-container">
            <img src="/jesus-quintana-lebowski.jpg" alt="The Dude logo">
        </div>
        <p>You have successfully logged out . . .</p>
        <p>But you're always more than welcome back!</p>
    </div>

</main>
