{{>navbar show=true register=true login=true}}

<main>
    <div class="logout-message">
        <div class="logo-container">
            <img src="/jesus-quintana-lebowski.jpg" alt="The Dude logo">
        </div>
        <p>You have successfully logged out...</p>
        <p>In case you change your mind there's always a way to come back!</p>
    </div>

</main>
