<div class="logout-message">
    <div class="logo-container">
        <img src="/jesus-quintana-lebowski.jpg" alt="The Dude logo">
    </div>
    <p>You have successfully logged out...</p>
    <p>In case you change your mind and wanna come back to Lebowskiland click <a href="/login">here</a>!</p>
</div>
