<div class="petition-container">
    <h1>Welcome to my petition Page!</h1>
    <p>If you wanna save the world with just one signature you are on the right place!</p>

    <form class="sign-form" action="/petition" method="post">
        <input
                    class="first-name"
                    type="text"
                    name="first-name"
                    placeholder="First Name"
                    required
                    minlength="3"
                    maxlength="15"
                    pattern="[a-zA-Z0-9]+"
                />
                <input
                            class="last-name"
                            type="text"
                            name="last-name"
                            placeholder="Last Name"
                            required
                            minlength="3"
                            maxlength="15"
                            pattern="[a-zA-Z0-9]+"
                        />
        <br>

        <input class="hidden-field" type="hidden" name="hidden-field" value="signature">
        <canvas id="signature-field" width="600" height="100"></canvas>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <!-- pass the token to the template, put this in every single form and make sure you pass the token here -->

        <button class="submit-btn" type="submit" name="button">Submit</button>

    </form>

</div>

{{>signature}}
