{{>navbar show=true edit=true logout=true}}

<main>
    <div class="petition-container">
        <div class="petition-text">
            <p>You're still not sure whether to sign the petition or not?! <br><br>
                Well, we all know sequels are an eternally painful topic . . .<br><br>
                But let me just remind you:<br>
                <blockquote><em>Dudeism is a real religion that implores us all to 'just take it easy, man.' <br>
                What could be more spiritual and uplifting than takin 'er easy?<br>
                The Dude Abides, and so should all of us. At the Church of the Dude.</em></blockquote><br>
                <a href="https://dudeism.com/?fbclid=IwAR110smSDidqOydJlLFkZMxJuuSxwHnaJNO9lP0eKbpQoszWFtBmSnQFlPw" target="_blank">—Dudeism</a>
            </p>

            <!-- <h3>In Dude we Trust!</h3> -->
        </div>

        {{#if errMessage}}
        <h3>{{errMessage}}</h3>
        <form class="sign-form" action="/petition" method="post">
            <input class="hidden-field" type="hidden" name="hidden-field">
            <canvas id="signature-field" width="600" height="100"></canvas>
            <!-- pass the token to the template, put this in every single form and make sure you pass the token here -->
            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <button class="submit-btn" type="submit" name="button">Abide</button>

        </form>
        {{else}}
        <form class="sign-form" action="/petition" method="post">
            <input class="hidden-field" type="hidden" name="hidden-field">
            <canvas id="signature-field" width="600" height="100"></canvas>
            <!-- pass the token to the template, put this in every single form and make sure you pass the token here -->
            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <button class="submit-btn" id="petition_btn" type="submit" name="button">Abide</button>

        </form>
        {{/if}}

    </div>

</main>
{{>signature}}
