<div class="petition-container">
    <h1>Welcome to my petition Page!</h1>
    <input class="first-name" type="text" name="" value="">
    <input class="last-name" type="text" name="" value="">
    <br>

    <input class="hidden-field" type="text" name="" value="">
    <canvas id="signature-field" width="500" height="100"></canvas>

    <button class="submit-btn" type="button" name="button"></button>


</div>

{{>signature}}
