<div class="petition-container">
    <h1>Times like these call for a Big Lebowski!</h1>
    <div class="petition-text">
        <p>If you wanna make the world a better place with just one signature you are on the right place!
            All you need to do is fill out the fields below and sign this petition, which you can do single handedly while holding
            a white russian in your other hand.
            Help us collect enough signatures and bring the Dude, his Dudeness, Duder or el Duderino back to our lives and to the big screen!
        </p>
        <h3>In Dude we Trust!</h3>
    </div>

    {{#if errMessage}}
    <h3>{{errMessage}}</h3>
    {{else}}
        <form class="sign-form" action="/petition" method="post">
            <input class="hidden-field" type="hidden" name="hidden-field">
            <canvas id="signature-field" width="600" height="100"></canvas>
            <!-- pass the token to the template, put this in every single form and make sure you pass the token here -->
            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <button class="submit-btn" type="submit" name="button">Abide</button>

        </form>
    {{/if}}

</div>

{{>signature}}
