<div class="profile-title">
    <h3>Now please tell us a little bit about yourself...</h3>
</div>

<form class="profile-form" method="POST">
    <div class="logo-container">
        <img src="https://p7.hiclipart.com/preview/285/877/92/jeff-bridges-the-big-lebowski-white-russian-youtube-dude-youtube.jpg" alt="The Dude logo">
    </div>

    <div class="register-form_content">
        <input class="register-form_input" type="text" name="age" placeholder="Age">
        <input class="register-form_input" type="text" name="city" placeholder="City">
        <input class="register-form_input" type="text" name="url" placeholder="Homepage">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="register-form_btn" type="submit">Keep on Abiding</button>
    </div>

    <div class="register-form_footer">
    </div>

</form>
