<div class="signers-list">
    <h3>We the undersigned demand that the Cohen Brothers start with filming a Big Lebowski sequel!</h1>
        {{#signers}}
            <ul>
                <li>{{first_name}} {{last_name}}</li>
            </ul>

        {{/signers}}

</div>
