<div class="thankyou-page">
    {{#if errMessage}}
    <h3> {{errMessage}} </h3>

    {{else}}
    <h1>Thank you for your signature!</h3>
        <img src="{{signature}}" />
    <a href="/signers-list" target="_blank">Check out the other {{numOfSigners}} dudes that abide</a>

{{/if}}
</div>
